.C-container {
    display: flex;
    align-items: center;
    margin-top: 10vmin;
}

.C-details {
    margin-right: 20vmin;
    text-align: left !important;
}

p, input {
    text-align: left !important;
}

td p {
    margin-bottom: 0 !important;
  
}

.C-description-input{
    width: 90vmin;
}

h1 {
    text-align: left;
}

hr {
    border-top: 0.5vmin solid !important;
}   

.C-label {
    color: #d73c38;
    font-weight: bold;
    align-items: left !important;
    padding-right: 8vmin;
}

td {
    padding-bottom: 1vmin !important;
}

img {
    height: 50vmin;
}
