.CS-container {
    display: flex;
    margin-left: 10vmin;
    margin-right: 10vmin;
}

.CS-card {
    margin: 2vmin;
    width: 100vmin;
    border-radius: 0 !important;
    border-color: black !important;
}

img {
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}



